*{
    margin: 0px;
    padding: 0px;
}
.containor{
    width: 100vw;
    height: 100vh;
    background-color: #314b4b;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    width: 250px;
    height: 350px;
    background-color: rgb(224, 224, 224);
}
.IMG{
    margin: 20px;
    width: 250px;
    height: 200px;
}
.box p{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.box button{
    /* border-radius: 5px; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    margin-left: 90px;
    background-color: lightgray;
}
